:root {
  /* the --screen-x vars won't do what I was hoping - you can't use these for media queries,
    only as inhereted properties from the root element.
    this is what preprocesors are good for. keeping the values here for reference
  */
  --screen-small: 300px;
  --screen-medium: 768px;
  --screen-large: 1024px;
  --screen-x-large: 1280px;

  /* document colours */
  --colour-bright-white: #fff;
  /* body text */
  --colour-purple-1: #44234A;
  --colour-medium-blue-1: #006DFA;
  /* blue panel */
  --colour-medium-blue-2: #0064E6;
  /* blue panel border */

  /* shadows */
  --shadow-large-faint: 0 0 70px 0 rgba(0, 0, 0, 0.50);

  /* background blur */
  --background-blur: blur(40px);

  /* font sizes */
  --heading-1-home: 72px;
  --heading-2-main-content: 24px;
  --primary-navigation: 24px;
  --paragraph-main-content: 18px;

}

/* Animations */
/* General Utility Animations */
@keyframes fade-in--animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out--animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin-check-rotation--animation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes spin-check-circle--animation {

  0%,
  25% {
    stroke-dasharray: 194;
    stroke-dashoffset: -172;
    transform: rotateZ(0deg);
  }

  50%,
  75% {
    stroke-dasharray: 130;
    stroke-dashoffset: -57;
    transform: rotate(45deg);
  }

  100% {
    stroke-dasharray: 194;
    stroke-dashoffset: -172;
    transform: rotateZ(360deg)
  }
}

@keyframes spin-check-check--animation {
  0% {
    transform: rotateZ(0deg);
    stroke-dasharray: 172;
    stroke-dashoffset: -172;
  }

  100% {
    stroke-dasharray: 124;
    stroke-dashoffset: 75;
  }

}

/* General Rules */

html {
  background: var(--colour-purple-1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: var(--paragraph-main-content);
  line-height: 1.333;
}

body {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  color: #FFFFFF;
  height: 100vh;
  font-variant-ligatures: common-ligatures;
}

#bgvid,
#bgimg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

section {
  margin-bottom: 56px;
}

/* General Typography */
h1 {
  font-size: clamp(2rem, 5.5vw, 4rem);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: clamp(2.5rem, 5.5vw, 4rem);
  position: relative;
}

h2 {
  font-size: clamp(1rem, 5.5vw, 2rem);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: clamp(2.5rem, 5.5vw, 3rem);
  position: relative;
}

a {
  font-weight: 500;
  color: var(--colour-bright-white);
}

ul {
  width: 100%;
  margin: 0;
}

/* General Utility Classes (show, hide, floats, spans, etc) */
.show-display {
  display: unset;
}

.hide-display {
  display: none;
}

.show-opacity {
  opacity: 1;
}

.hide-opacity {
  opacity: 0;
}

.fast-fade-in {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-in--animation;
}

.slow-fade-in {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-in--animation;
}

.fast-fade-out {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-out--animation;
}

.slow-fade-out {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-out--animation;
}