/* Basic Layout */
/* Main Grid Items */

.grid-columns(@col-num: 5, @col-width: 40px, @col-gap: 20px) {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr) [content-start] repeat(@col-num, @col-width) [content-end] minmax(0, 1fr) [full-end];
  ;
  column-gap: @col-gap;
  row-gap: 0;
}

@supports (display: grid) {
  html {
    height: 100%;
  }

  @media (max-width: @mid_screen) {

    body,
    nav,
    main,
    body>section {
      .grid-columns(5, 60px, 10px)
    }

    nav ul,
    main header,
    main section,
    section .content-panel {
      grid-column-start: 2;
      grid-column-end: 7;
    }

    main header {
      padding: 48px 0;
    }

    main section,
    section .content-panel {
      padding: 48px 40px;
    }

    body>section {
      h2 {
        grid-column-start: 2;
        grid-column-end: 7;
      }
      aside {
        grid-column-start: full-start;
        grid-column-end: full-end;
      }

    }

    section .card {
      padding: 0;
      grid-column-start: full-start;
      grid-column-end: full-end;
    }
  }

  @media (min-width: @mid_screen) and (max-width: @large_screen) {

    body,
    nav,
    main,
    body>section {
      .grid-columns(12, 40px, 10px)
    }

    nav ul,
    main header,
    main section,
    section .content-panel {
      grid-column-start: 3;
      grid-column-end: 13;
    }

    main header {
      padding: 48px 0;
    }

    main section,
    section .content-panel {
      padding: 48px 40px;
    }

    body>section {
      h2 {
        grid-column: 3 / span 8;
      }
      aside.card {
        padding: 0;
        grid-column: 3 / span 5;
      }

      aside.card:nth-of-type(2) {
        grid-column: 8 / span 5;
      }

    }
  }

  @media (min-width: @large_screen) {

    body,
    nav,
    main,
    body>section {
      .grid-columns(12, 60px, 40px);
    }

    nav ul,
    main header,
    main section,
    section .content-panel {
      grid-column-start: 4;
      grid-column-end: 12;
    }

    main header {
      padding: 72px 0;
    }

    main section,
    section .content-panel {
      padding: 72px 100px;
    }

    body>section {
      h2 {
        grid-column: 4 / span 8;
      }
      aside.card {
        width: 360px;
        padding: 0;
        grid-column: 4 / span 4;
      }

      aside.card:nth-of-type(2) {
        grid-column: 8 / span 4;
      }

    }
  }

  nav,
  main,
  body>section {
    grid-column-start: full-start;
    grid-column-end: full-end;
  }
}