// Global Vars
@small_screen: 500px;
@mid_screen: 760px;
@large_screen: 940px;
@xlarge_screen: 1024px;
@xxlarge_screen: 1440px;

@base_grid: 8px;

// Includes
@import "reset.less";
@import "base.less";
@import "layout.less";
@import "modules.less";
@import "theme.less";