

#upw_corp_logo {
height: 125px;
width: 170px;
}

/* Components */
nav {
  position: relative;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: var(--primary-navigation);
    justify-content: space-between;

    @media (max-width: @mid_screen) {
      flex-wrap: wrap;

      .home-link {
        width: 100%;
        justify-content: center;
        margin: 0 0 16px 0;
      }
    }
  }

  .main-nav {
    font-size: 16px;
    text-transform: lowercase;

    @media (max-width: @mid_screen) {
      padding: 16px 0 16px 0;
    }

    @media (min-width: @mid_screen) {
      padding: 40px 0 48px 0;
    }

    li {
      display:flex;
      align-items: baseline;

    }

    li a {
      display: block;
      line-height: 48px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}

#home h1 {
  position: relative;
  z-index: 1;
  // transform: scale(1.2) rotate(-5deg) translate(0px, -14px) skew(-7deg, -4deg);
}

#main-content {

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 32px;
    width: 100%;
  }

  p.pull-quote {
    font-size: 32px;
    line-height: 40px;
    padding: 16px 0
  }

  img {
    margin: 32px 0;
  }

  address {
    width: 100%;
    font-style: normal;
  }
}

.cta-row {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding: 32px 0 0 0;

  a {
    display: block;
    height: 40px;
    padding: 4px 0 0 0;
    text-align: center;
    background-color: #7327BF;
    text-decoration: none;
  }
}

@media (max-width: @mid_screen) {
  .cta-row {
    flex-direction: column;
    justify-content: center;
    a {
      margin: 0 0px 8px 0px;
    }
  }
}

@media (min-width: @small_screen) and (max-width: @large_screen) {
  .cta-row {
    flex-direction: row;

    a {
      width: 50%;
      margin: 0;
    }
  }
}

@media (min-width: @large_screen) {
  .cta-row {
    flex-direction: row;

    a {
      width: 50%;
      margin: 0 40px;
    }
  }
}

#case-studies-cards {

  h2 {
    position: relative;
    font-size: 56px;
    // mix-blend-mode: hard-light;
  }

  aside {
    position: relative;

    div.image {
      background-color: white;
      height: 104px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 60px;
    }
    div.image.left {
      justify-content: left;
    }
    img {
      display: block;
      background-color: white;
    }
    p {
      margin: 40px 60px;
    }
    .more-details {
      display: block;
    }
  }
}

.form-wrapper {
  width: 100%;

  .post-action {
    display: none;
  }

  p {
    margin-bottom: 32px;
  }

  fieldset,
  legend {
    border: none;
    margin: 0;
    padding: 0;
  }

  legend {
    font-size: 36px;
    border-bottom: 1px solid #8419A9;
    display: block;
    width: 100%;
    margin-bottom: 32px;
  }

  label {
    display: block;
    width: 100%;
  }

  fieldset div {
    position: relative;
    // margin-bottom: 32px;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    color: white;
    background: #8635D6;
    border: 1px solid #7A6EE1;
  }

  input {
    height: 40px;
  }

  textarea {
    height: 160px;
  }

  input:focus,
  textarea:focus {
    outline: 1px solid #50BFFF;
  }

  div.error input,
  div.error textarea {
    border: 1px solid #FFFFFF;
  }

  div.error:after {
    content: "";
    width: 8px;
    position: absolute;
    left: -40px;
    top: 0;
    bottom: 0;
    background-color: #CA21CA;
  }

  span.validation {
    display: block;
    font-weight: 700;
    min-height: 32px;
  }

  button[type="submit"] {
    background: #41157C;
    text-align: center;
    border: none;
    color: white;
    font-weight: 500;
    width: 148px;
    height: 40px;
    position: relative;
  }

  button:disabled,
  form.error button[type="submit"] {
    background: #7327BF;
    color: #AB73E3;
  }

  // specific rules for specific cases
  #signup-email-container {
    display: flex;
    flex-wrap: wrap;
    input {
      width: 70%;
    }
    button {
      width: 30%
    }

  }
}

.spin-wrap {
  display: block;
  position: absolute;
  left: 8px;
  top: 8px;
  height: 25px;
  width: 25px;

  &.svg-nospin {
    transform: rotateZ(0deg);
  }

  .spinner {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: spin-check-rotation--animation;
  }

  .spinner path {
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-name: spin-check-circle--animation;
  }

  .check path {
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: spin-check-check--animation;
  }

  path.circle-check {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
    transform-origin: 50% 50%;

  }

}

#map,
#map-bg {
  width: 100vw;
  height: 40vh;
  margin-bottom: 80px;
  top: 146px;
}

#map-bg {
  position: absolute;
}
#map {
  position: relative;
  margin-top: -146px;
  // clip-path: polygon(0% 0%, 0% 100%, 30% 100%, 30% 30%, 45% 30%, 45% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

#footer-section {
  position: relative;
  z-index: 10;
  margin-bottom: 0;

  footer {
    margin-top: 80px;
    padding-bottom: 0;

    address {
      background: url(/assets/images/upw-wordmark-short.svg) top left no-repeat;
      font-style: normal;
      padding: (@base_grid * 9) 0 0 0;
      display: flex;
      position: relative;
      font-size: 14px;
      line-height: 24px;
      justify-content: space-between;

      p {
        width:260px;
      }
    }

    @media (max-width: @mid_screen) {
      address {
        flex-direction: column;

        p {
          margin-bottom: 24px;
        }
      }
    }

    address:before {
      content:"";
      position: absolute;
      top: (@base_grid * 6);
      left: 0px;
      right: 0px;
      height: 1px;
      background-color: #8419A9;
    }

    a {
      font-weight: 300;
    }

    .info-email {
      font-size: 18px;
      font-weight: 500;
    }

    .acknowledgement {
      padding-top:24px;
      font-size: 14px;
    }

  }
}