nav {
  background: rgba(94, 7, 111, 0.80);
  box-shadow: var(--shadow-large-faint);
}


.main-nav {
  font-family: 'gill-sans-nova';

  li.page-link {

    a {
      color: var(--colour-bright-white);
      font-weight: 300;
      position: relative;
    }

    a:before, a:after {
      content: "";
      position: absolute;
      bottom: 4px;
      left: 0;
      right: 0;
      height: 4px;
      background: #FA8AFF; //linear-gradient(to right, rgba(255, 255, 255, 0), #FA8AFF) 1;
    }
    a:before {
      opacity: 0;
      transform: translateY(-8px);
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    }
    a:after {
      opacity: 0;
      transform: translateY(4px);
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    }
    a:hover:before, a:hover:after, a:focus:before, a:focus:after, a.current-section {
      opacity: 1;
      transform: translateY(0);
    }
    a:hover:before, a:focus:before {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    }
    a:hover:after, a:focus:after {
      transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    }

  }

  li.current-section {

    a:before, a:after {
      background: #FFFFFF;
      opacity: 1;
      transform: translateY(0);
    }

  }


}

.content-panel {
  background: rgba(94, 7, 111, 0.80);
  // box-shadow: var(--shadow-large-faint);
}

@supports (mix-blend-mode: multiply) {
  .backdrop {
    content: " ";
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 40vh;
    mix-blend-mode: multiply;
  }

  #video-backdrop {
    top: 145px;
    left: 0;
    background-image: linear-gradient(#AA3B7D, #FFFFFF);
  }

  #footer-backdrop {
    position: relative;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#FFFFFF, #AA3B7D, #000);
    z-index: 0;
    margin-top: -40vh;
  }

  @media (max-width: @mid_screen) {
    #footer-backdrop {
      height: 80vh;
      margin-top: -80vh;
    }
  }
}

// this is not so great in the latest Safari
@supports (backdrop-filter: blur()) {
  nav {
    background: rgba(94, 7, 111, 0.00);
    backdrop-filter: blur(40px) saturate(200%);
  }

  .content-panel {
    background: rgba(94, 7, 111, 0.4);
    backdrop-filter: blur(40px) saturate(200%);
  }
}

.spin-wrap {
  path.circle-check {
    fill: none;
    stroke: white;
  }
}