/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  /* scroll-behavior: smooth; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /* the --screen-x vars won't do what I was hoping - you can't use these for media queries,
    only as inhereted properties from the root element.
    this is what preprocesors are good for. keeping the values here for reference
  */
  --screen-small: 300px;
  --screen-medium: 768px;
  --screen-large: 1024px;
  --screen-x-large: 1280px;
  /* document colours */
  --colour-bright-white: #fff;
  /* body text */
  --colour-purple-1: #44234A;
  --colour-medium-blue-1: #006DFA;
  /* blue panel */
  --colour-medium-blue-2: #0064E6;
  /* blue panel border */
  /* shadows */
  --shadow-large-faint: 0 0 70px 0 rgba(0, 0, 0, 0.5);
  /* background blur */
  --background-blur: blur(40px);
  /* font sizes */
  --heading-1-home: 72px;
  --heading-2-main-content: 24px;
  --primary-navigation: 24px;
  --paragraph-main-content: 18px;
}
/* Animations */
/* General Utility Animations */
@keyframes fade-in--animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out--animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin-check-rotation--animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes spin-check-circle--animation {
  0%,
  25% {
    stroke-dasharray: 194;
    stroke-dashoffset: -172;
    transform: rotateZ(0deg);
  }
  50%,
  75% {
    stroke-dasharray: 130;
    stroke-dashoffset: -57;
    transform: rotate(45deg);
  }
  100% {
    stroke-dasharray: 194;
    stroke-dashoffset: -172;
    transform: rotateZ(360deg);
  }
}
@keyframes spin-check-check--animation {
  0% {
    transform: rotateZ(0deg);
    stroke-dasharray: 172;
    stroke-dashoffset: -172;
  }
  100% {
    stroke-dasharray: 124;
    stroke-dashoffset: 75;
  }
}
/* General Rules */
html {
  background: var(--colour-purple-1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: var(--paragraph-main-content);
  line-height: 1.333;
}
body {
  font-family: gill-sans-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  color: #FFFFFF;
  height: 100vh;
  font-variant-ligatures: common-ligatures;
}
#bgvid,
#bgimg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
section {
  margin-bottom: 56px;
}
/* General Typography */
h1 {
  font-size: clamp(2rem, 5.5vw, 4rem);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: clamp(2.5rem, 5.5vw, 4rem);
  position: relative;
}
h2 {
  font-size: clamp(1rem, 5.5vw, 2rem);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: clamp(2.5rem, 5.5vw, 3rem);
  position: relative;
}
a {
  font-weight: 500;
  color: var(--colour-bright-white);
}
ul {
  width: 100%;
  margin: 0;
}
/* General Utility Classes (show, hide, floats, spans, etc) */
.show-display {
  display: unset;
}
.hide-display {
  display: none;
}
.show-opacity {
  opacity: 1;
}
.hide-opacity {
  opacity: 0;
}
.fast-fade-in {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-in--animation;
}
.slow-fade-in {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-in--animation;
}
.fast-fade-out {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-out--animation;
}
.slow-fade-out {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: fade-out--animation;
}
/* Basic Layout */
/* Main Grid Items */
@supports (display: grid) {
  html {
    height: 100%;
  }
  @media (max-width: 760px) {
    body,
    nav,
    main,
    body > section {
      display: grid;
      grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(5, 60px) [content-end] minmax(0, 1fr) [full-end];
      column-gap: 10px;
      row-gap: 0;
    }
    nav ul,
    main header,
    main section,
    section .content-panel {
      grid-column-start: 2;
      grid-column-end: 7;
    }
    main header {
      padding: 48px 0;
    }
    main section,
    section .content-panel {
      padding: 48px 40px;
    }
    body > section h2 {
      grid-column-start: 2;
      grid-column-end: 7;
    }
    body > section aside {
      grid-column-start: full-start;
      grid-column-end: full-end;
    }
    section .card {
      padding: 0;
      grid-column-start: full-start;
      grid-column-end: full-end;
    }
  }
  @media (min-width: 760px) and (max-width: 940px) {
    body,
    nav,
    main,
    body > section {
      display: grid;
      grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(12, 40px) [content-end] minmax(0, 1fr) [full-end];
      column-gap: 10px;
      row-gap: 0;
    }
    nav ul,
    main header,
    main section,
    section .content-panel {
      grid-column-start: 3;
      grid-column-end: 13;
    }
    main header {
      padding: 48px 0;
    }
    main section,
    section .content-panel {
      padding: 48px 40px;
    }
    body > section h2 {
      grid-column: 3 / span 8;
    }
    body > section aside.card {
      padding: 0;
      grid-column: 3 / span 5;
    }
    body > section aside.card:nth-of-type(2) {
      grid-column: 8 / span 5;
    }
  }
  @media (min-width: 940px) {
    body,
    nav,
    main,
    body > section {
      display: grid;
      grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(12, 60px) [content-end] minmax(0, 1fr) [full-end];
      column-gap: 40px;
      row-gap: 0;
    }
    nav ul,
    main header,
    main section,
    section .content-panel {
      grid-column-start: 4;
      grid-column-end: 12;
    }
    main header {
      padding: 72px 0;
    }
    main section,
    section .content-panel {
      padding: 72px 100px;
    }
    body > section h2 {
      grid-column: 4 / span 8;
    }
    body > section aside.card {
      width: 360px;
      padding: 0;
      grid-column: 4 / span 4;
    }
    body > section aside.card:nth-of-type(2) {
      grid-column: 8 / span 4;
    }
  }
  nav,
  main,
  body > section {
    grid-column-start: full-start;
    grid-column-end: full-end;
  }
}
#upw_corp_logo {
  height: 125px;
  width: 170px;
}
/* Components */
nav {
  position: relative;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: var(--primary-navigation);
  justify-content: space-between;
}
@media (max-width: 760px) {
  nav ul {
    flex-wrap: wrap;
  }
  nav ul .home-link {
    width: 100%;
    justify-content: center;
    margin: 0 0 16px 0;
  }
}
nav .main-nav {
  font-size: 16px;
  text-transform: lowercase;
}
@media (max-width: 760px) {
  nav .main-nav {
    padding: 16px 0 16px 0;
  }
}
@media (min-width: 760px) {
  nav .main-nav {
    padding: 40px 0 48px 0;
  }
}
nav .main-nav li {
  display: flex;
  align-items: baseline;
}
nav .main-nav li a {
  display: block;
  line-height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#home h1 {
  position: relative;
  z-index: 1;
}
#main-content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#main-content h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}
#main-content p {
  margin-bottom: 32px;
  width: 100%;
}
#main-content p.pull-quote {
  font-size: 32px;
  line-height: 40px;
  padding: 16px 0;
}
#main-content img {
  margin: 32px 0;
}
#main-content address {
  width: 100%;
  font-style: normal;
}
.cta-row {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding: 32px 0 0 0;
}
.cta-row a {
  display: block;
  height: 40px;
  padding: 4px 0 0 0;
  text-align: center;
  background-color: #7327BF;
  text-decoration: none;
}
@media (max-width: 760px) {
  .cta-row {
    flex-direction: column;
    justify-content: center;
  }
  .cta-row a {
    margin: 0 0px 8px 0px;
  }
}
@media (min-width: 500px) and (max-width: 940px) {
  .cta-row {
    flex-direction: row;
  }
  .cta-row a {
    width: 50%;
    margin: 0;
  }
}
@media (min-width: 940px) {
  .cta-row {
    flex-direction: row;
  }
  .cta-row a {
    width: 50%;
    margin: 0 40px;
  }
}
#case-studies-cards h2 {
  position: relative;
  font-size: 56px;
}
#case-studies-cards aside {
  position: relative;
}
#case-studies-cards aside div.image {
  background-color: white;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
}
#case-studies-cards aside div.image.left {
  justify-content: left;
}
#case-studies-cards aside img {
  display: block;
  background-color: white;
}
#case-studies-cards aside p {
  margin: 40px 60px;
}
#case-studies-cards aside .more-details {
  display: block;
}
.form-wrapper {
  width: 100%;
}
.form-wrapper .post-action {
  display: none;
}
.form-wrapper p {
  margin-bottom: 32px;
}
.form-wrapper fieldset,
.form-wrapper legend {
  border: none;
  margin: 0;
  padding: 0;
}
.form-wrapper legend {
  font-size: 36px;
  border-bottom: 1px solid #8419A9;
  display: block;
  width: 100%;
  margin-bottom: 32px;
}
.form-wrapper label {
  display: block;
  width: 100%;
}
.form-wrapper fieldset div {
  position: relative;
}
.form-wrapper input,
.form-wrapper textarea {
  display: block;
  width: 100%;
  color: white;
  background: #8635D6;
  border: 1px solid #7A6EE1;
}
.form-wrapper input {
  height: 40px;
}
.form-wrapper textarea {
  height: 160px;
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
  outline: 1px solid #50BFFF;
}
.form-wrapper div.error input,
.form-wrapper div.error textarea {
  border: 1px solid #FFFFFF;
}
.form-wrapper div.error:after {
  content: "";
  width: 8px;
  position: absolute;
  left: -40px;
  top: 0;
  bottom: 0;
  background-color: #CA21CA;
}
.form-wrapper span.validation {
  display: block;
  font-weight: 700;
  min-height: 32px;
}
.form-wrapper button[type="submit"] {
  background: #41157C;
  text-align: center;
  border: none;
  color: white;
  font-weight: 500;
  width: 148px;
  height: 40px;
  position: relative;
}
.form-wrapper button:disabled,
.form-wrapper form.error button[type="submit"] {
  background: #7327BF;
  color: #AB73E3;
}
.form-wrapper #signup-email-container {
  display: flex;
  flex-wrap: wrap;
}
.form-wrapper #signup-email-container input {
  width: 70%;
}
.form-wrapper #signup-email-container button {
  width: 30%;
}
.spin-wrap {
  display: block;
  position: absolute;
  left: 8px;
  top: 8px;
  height: 25px;
  width: 25px;
}
.spin-wrap.svg-nospin {
  transform: rotateZ(0deg);
}
.spin-wrap .spinner {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: spin-check-rotation--animation;
}
.spin-wrap .spinner path {
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-name: spin-check-circle--animation;
}
.spin-wrap .check path {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: spin-check-check--animation;
}
.spin-wrap path.circle-check {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  transform-origin: 50% 50%;
}
#map,
#map-bg {
  width: 100vw;
  height: 40vh;
  margin-bottom: 80px;
  top: 146px;
}
#map-bg {
  position: absolute;
}
#map {
  position: relative;
  margin-top: -146px;
}
#footer-section {
  position: relative;
  z-index: 10;
  margin-bottom: 0;
}
#footer-section footer {
  margin-top: 80px;
  padding-bottom: 0;
}
#footer-section footer address {
  background: url(/assets/images/upw-wordmark-short.svg) top left no-repeat;
  font-style: normal;
  padding: 72px 0 0 0;
  display: flex;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  justify-content: space-between;
}
#footer-section footer address p {
  width: 260px;
}
@media (max-width: 760px) {
  #footer-section footer address {
    flex-direction: column;
  }
  #footer-section footer address p {
    margin-bottom: 24px;
  }
}
#footer-section footer address:before {
  content: "";
  position: absolute;
  top: 48px;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: #8419A9;
}
#footer-section footer a {
  font-weight: 300;
}
#footer-section footer .info-email {
  font-size: 18px;
  font-weight: 500;
}
#footer-section footer .acknowledgement {
  padding-top: 24px;
  font-size: 14px;
}
nav {
  background: rgba(94, 7, 111, 0.8);
  box-shadow: var(--shadow-large-faint);
}
.main-nav {
  font-family: 'gill-sans-nova';
}
.main-nav li.page-link a {
  color: var(--colour-bright-white);
  font-weight: 300;
  position: relative;
}
.main-nav li.page-link a:before,
.main-nav li.page-link a:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 4px;
  background: #FA8AFF;
}
.main-nav li.page-link a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.main-nav li.page-link a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.main-nav li.page-link a:hover:before,
.main-nav li.page-link a:hover:after,
.main-nav li.page-link a:focus:before,
.main-nav li.page-link a:focus:after,
.main-nav li.page-link a.current-section {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li.page-link a:hover:before,
.main-nav li.page-link a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
.main-nav li.page-link a:hover:after,
.main-nav li.page-link a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}
.main-nav li.current-section a:before,
.main-nav li.current-section a:after {
  background: #FFFFFF;
  opacity: 1;
  transform: translateY(0);
}
.content-panel {
  background: rgba(94, 7, 111, 0.8);
}
@supports (mix-blend-mode: multiply) {
  .backdrop {
    content: " ";
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 40vh;
    mix-blend-mode: multiply;
  }
  #video-backdrop {
    top: 145px;
    left: 0;
    background-image: linear-gradient(#AA3B7D, #FFFFFF);
  }
  #footer-backdrop {
    position: relative;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#FFFFFF, #AA3B7D, #000);
    z-index: 0;
    margin-top: -40vh;
  }
  @media (max-width: 760px) {
    #footer-backdrop {
      height: 80vh;
      margin-top: -80vh;
    }
  }
}
@supports (backdrop-filter: blur()) {
  nav {
    background: rgba(94, 7, 111, 0);
    backdrop-filter: blur(40px) saturate(200%);
  }
  .content-panel {
    background: rgba(94, 7, 111, 0.4);
    backdrop-filter: blur(40px) saturate(200%);
  }
}
.spin-wrap path.circle-check {
  fill: none;
  stroke: white;
}
/*# sourceMappingURL=styles.css.map */